@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 >Welcome</h1>
</div>

<div class="card-deck">
  <div class="row">
    @foreach(var employee in Model.employees)
    {
        var photpath = "~/images/" + (employee.PhotoPath ?? "noname.jpg");
        <div class="card m-3" style=" max-width:30.5%;"> 
            <div class="card-header">
                <h3>@employee.Name</h3>
                <div class="card-body text-center">
                <img class="imageThumbnail" src="@photpath"
                asp-append-version="true" />
                </div>
                <div class="card-footer text-center">
                    <a asp-page="/Employees/Details" asp-route-Id="@employee.Id" class="btn btn-primary m-1">View</a>
                    <a asp-page="/Employees/Edit" asp-route-Id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>

                </div>
            </div>
        </div>
    }
 </div>
</div>
